{% load templatetag_handlebars i18n %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Serious Dashboard</title>
  <meta name="description" content="The HTML5 dashboard">
  <meta name="author" content="Michael">

  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    {% block content %}{% endblock %}
    
    

    <script src="{{ STATIC_URL }}libs/sockjs/sockjs.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}libs/ember/ember.min.js"></script>
    <script src="{{ STATIC_URL }}libs/ember/ember-template-compiler.js"></script>
    <script src="{{ STATIC_URL }}libs/ember-data/ember-data.js"></script>
    <script src="{{ STATIC_URL }}libs/loader.js/loader.js"></script>
    <script src="{{ STATIC_URL }}libs/handlebars/handlebars.js"></script>
    <script src="{{ STATIC_URL }}app/app.js"></script>
    
    <script>
        var newConnection = function(){
            var sock = new SockJS('http://localhost:9999/echo');

            sock.onopen = function() {
               console.log('open');
            };
            sock.onmessage = function(e) {
                var message
                try {
                    message = JSON.parse(e.data);
                } catch (e) {
                    console.log('invalid message')
                    return false;
                }
                 
                console.log('sent at', new Date(message.time*1000));
                App.MessageController.addObject({'text': message.text, 'time': new Date(message.time*1000)})
            };
            sock.onclose = function() {
               console.log('close, reconnect');
               // newConnection();
            };

            sock.send('test');
            sock.close();
        }
        newConnection();
    </script>

    {% tplhandlebars "tpl-infos" %}
      {{#each App.MessageController tagName="ul"}}
        <li>{{this.text}} - {{this.time}}</li>
      {{/each}}
    {% endtplhandlebars %}

</body>
</html>
