{% load templatetag_handlebars i18n %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Serious Dashboard</title>
  <meta name="description" content="The HTML5 dashboard">
  <meta name="author" content="Michael">

  <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    {% block content %}{% endblock %}
    
    

    <script src="{{ STATIC_URL }}libs/sockjs/sockjs.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}libs/ember/ember.min.js"></script>
    <script src="{{ STATIC_URL }}libs/ember/ember-template-compiler.js"></script>
    <script src="{{ STATIC_URL }}libs/handlebars/handlebars.js"></script>
    <script src="{{ STATIC_URL }}app/app.js"></script>
    
    <script>
        
    </script>
    
    {% tplhandlebars "messages" %}
      <div class="messages_area"> 
        {{#each message in model}}
          <div class="alert-message info">
              <p>{{message.text}}</p>
          </div>
         
        {{/each}}
      </div>
    {% endtplhandlebars %}
    


</body>
</html>
